@model ADit.Interfaces.IPasswordView
@{
    ViewBag.Title = "Confirm Password";
}

<!--<h2>Register</h2>-->
<div class="mybgimage">
    <div>
        <p></p>
    </div>
    @using (Html.BeginForm("ConfirmPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row no-gutters pt-5">
                <div class="card col-md-4 m-auto">
                    <div class="card-header">
                        <h4>Change Password</h4>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary()
                        @*<p class="text-danger">@Html.ValidationSummary()</p>*@
                        @*<p class="text-danger"> @Model.ProcessingMessage</p>*@
                        <input type="text" hidden name="userId" value=" @Model.userId"/>
                        <input type="text" hidden name="code" value=" @Model.code"/>
                        <div class="form-group">
                            <label class="control-label"> Password</label>
                            <div class="">
                                <input type="password" name="Password" id="Password" value="@Model.Password" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label"> Confirm Password</label>
                            <div class="">
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword" value="@Model.ConfirmPassword" class="form-control"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Send" class="enabledButton" style="width: 125px;"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

    @Html.ActionLink("Go Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}