@model ADit.Interfaces.IMaterialProductionPriceView




@section PageTitle{
    Delete Material Production Price
}

<div class="jumbotron">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("DeleteMaterialProductionPrice", "Radio", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="productionPriceId" name="productionPriceId" value="@Model.MaterialProductionPriceId" />


        <div class="text-danger text-center">Are you sure you want to delete this ?</div>
        <p class="text-center text-bold" style="font-weight: bold">Online Purpose</p>
        <p class="text-center text-bold">@Model.Amount</p>






        <div align="center">

            <input class="btn btn-primary" id="btnSubmit" name="submitButton" style="width: 80px;" type="submit" value="Delete" />
            <input id="btnCancel" class="btn btn-danger enabledButton" name="submitButton" style="width: 80px;"
                   type="submit" value="Cancel" />

        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("span.ui-dialog-title").text('Delete ProductionPrice' + $('#Description').val());

        $('#btnCancel').click(function () {
            window.location.href = '/Radio/ProductionPrice';
            return false;
        });

    });
</script>