@model ADit.Interfaces.IOnlineExtraServiceView
@{
    ViewBag.Title = "Adit - Edit Online Extra Service";
}

@section PageTitle{
    Edit Extra Service
}
<div class="jumbotron">

    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
        </div>
            @Model.ProcessingMessage
        </div>

    @using (Html.BeginForm("EditOnlineExtraService", "Online", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="OnlineExtraServiceId" name="OnlineExtraServiceId" value="@Model.OnlineExtraServiceId" />
        <div class="columns" style="width: 100%; padding-top: 5px;">
            <div class="label column">
                <span  style="color:red;" class="required">*</span>Description:
            </div>
            <div class="data column" style="overflow: hidden;">
                <input class="form-control" id="Description" name="Description" style="width: 250px;" type="text" maxlength="50" value="@Model.Description" />
            </div>
        </div>


        
            <div class="form-inline" style="width: 100%; padding-top: 15px; padding-bottom: 5px;">
                <div class="column">
                    <input class="btn enabledButton btn-primary" id="btnSubmit" name="submitButton" style="width: 80px;"  type="submit" value="Submit" />
                </div>
                <div class="column" style="margin-left: 15px;">
                    <input id="btnCancel" class="btn btn-danger enabledButton" name="submitButton" style="width: 80px;"
                           type="submit" value="Cancel" />
                </div>
                <div class="column" style="font-size: 9px; font-weight: bold; font-style: italic; padding-left: 5px; padding-top: 2px;">
                    You must enter all information above correctly to enable submission.
                </div>
            </div>
    }
</div>




    <script type="text/javascript">
            $(document).ready(function() {

                $('#btnCancel').click(function () {
                    window.location.href = '/Online/OnlineExtraServiceList';
                    return false;
                });
                $('#Description').bind('input propertychange',
                    function () {

                        $('#btnSubmit').prop("class", "grayButton");
                        $('#btnSubmit').prop("disabled", true);

                        var description = $('#Description').val().length > 0;


                        if ((description)
                        ) {
                            $('#btnSubmit').prop("class", "enabledButton btn btn-primary");
                            $('#btnSubmit').prop("disabled", false);
                        }
                    });








            });
    </script>



