

@model ADit.Interfaces.IPrintServiceTypeView




<a href="/Print/PrintServiceType?printServiceTypeId=@Model.PrintServiceTypeId"> All Print Service Types</a>

<div class="jumbotron">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("DeletePrintServiceType", "Print", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <input type="hidden" name="PrintServiceTypeId" value="@Model.PrintServiceTypeId" />

        <div class="columns" align="center" style="width: 100%; padding-top: 5px;">

            <div class="label column">
                <span style="color:red;">*</span>Description:
            </div>
            <div class="data column" style="overflow: hidden;">
                Delete Print Service Type Entry: @Model.Description?
                <input id="Description" class="form-control" name="Description" style="width: 250px;" type="hidden" maxlength="50" value="@Model.Description" />
            </div>
        </div>

        <div align="center">

            <input class="btn btn-primary" id="btnSubmit" name="submitButton" style="width: 80px;" type="submit" value="Delete" />
            <input id="btnCancel" class="btn btn-danger enabledButton" name="submitButton" style="width: 80px;"
                   type="submit" value="Cancel" />

        </div>


        @*<div class="columns" style="width: 100%; padding-top: 15px; padding-bottom: 5px;">
                <div class="column" style="margin-left: 195px;">

                </div>
                <div class="column" style="margin-left: 15px;">

                </div>
                <div class="column" style="font-size: 9px; font-weight: bold; font-style: italic; padding-left: 5px; padding-top: 2px;">

                </div>
            </div>*@
    }
</div>


<script>
    $('#btnCancel').click(function () {
        window.location.href = '/Print/PrintServiceType';
        return false;
    });

</script>
