
@model ADit.Interfaces.IPrintCategoryView

@{
    ViewBag.Title = "Edit Print Category";
}

@section PageTitle{
    Edit Print Category
}


<a href="/Print/PrintCategory?printCategoryId=@Model.PrintCategoryId"> All Print Categories</a>

<div class="jumbotron">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("EditPrintCategory", "Print", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <input type="hidden" name="PrintCategoryId" value="@Model.PrintCategoryId" />

        <div class="form-group">
            <div class="label column" >
                <span style="color:red;">*</span>Category Name:
            </div>
            <div class="data column" style="overflow: hidden;">
                <input id="Description" name="Description" class="form-control" type="text" maxlength="50" value="@Model.Description" />
            </div>
        </div>



        <div class="row">
            <input class="enabledButton btn btn-primary" id="btnSubmit" name="submitButton" style="width: 80px;" type="submit" value="Submit" />
            &nbsp;&nbsp;
            <input id="btnCancel" class="btn btn-danger enabledButton" name="submitButton" style="width: 80px;"
                   type="submit" value="Cancel" />
        </div>
       

        @*<div class="columns" style="width: 100%; padding-top: 15px; padding-bottom: 5px;">
                <div class="column" style="margin-left: 195px;">

                </div>
                <div class="column" style="margin-left: 15px;">

                </div>
                <div class="column" style="font-size: 9px; font-weight: bold; font-style: italic; padding-left: 5px; padding-top: 2px;">

                </div>
            </div>*@
    }
</div>



<script type="text/javascript">
        $(document).ready(function() {

            $('#btnCancel').click(function() {
                window.location.href = '/Print/PrintCategory';
                return false;
            });


            $('#Description').bind('input propertychange',
                function () {

                    $('#btnSubmit').prop("class", "grayButton");
                    $('#btnSubmit').prop("disabled", true);

                    var description = $('#Description').val().length > 0;


                    if ((description)
                    ) {
                        $('#btnSubmit').prop("class", "enabledButton btn btn-primary");
                        $('#btnSubmit').prop("disabled", false);
                    }
                });

        });
</script>
