@model ADit.Interfaces.ITimeBeltView

@{
    ViewBag.Title = "Delete Apcon ";
}

@section PageTitle{
    Delete Apcon Type
}

<div class="jumbotron">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcesingMessage
        </div>
    </div>
    @using (Html.BeginForm("DeleteTimeBelt", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="TimeBeltId" name="timeBeltId" value="@Model.TimeBeltId" />

        <div class="text-danger text-center">Are you sure you want to delete the selected Time Belt ?</div>
        <p class="text-center text-bold" style="font-weight: bold">Time Belt Type description</p>
        <p class="text-center text-bold">@Model.Description</p>

        <div class="columns" style="width: 100%; padding-top: 15px; padding-bottom: 5px;">
            
            <div class="row">
                <div class="column" style="margin-left: 195px;">
                    <input class="enabledButton btn btn-primary" id="btnSubmit" name="submitButton" style="width: 80px;" type="submit" value="Delete" />
                </div>
                <div class="column" style="margin-left: 15px;">
                    <input id="btnCancel" class="enabledButton btn btn-danger" name="submitButton" style="width: 80px;"
                           type="submit" value="Cancel" />
                </div>
            </div>
           

        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("span.ui-dialog-title").text('DeleteApcon ' + $('#Description').val());

        $('#btnCancel').click(function () {
            window.location.href = '/Administration/TimeBelt';
            return false;
        });

    });
</script>