@model ADit.Interfaces.IApconApprovalView




<div class="jumbotron container">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("EditApcon", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="ApconApprovalTypeId" name="ApconApprovalTypeId" value="@Model.ApconApprovalTypeId" />


        <div class="form-group">
            <div class="label column">
                <span style="color:red;">*</span>Description:
            </div>
            <div class="data column" style="overflow: hidden;">
                <input id="Description" class="form-control" name="Description" style="width: 250px;" type="text" maxlength="50" value="@Model.Description" />
            </div>
        </div>


        <div class="col-12  pt-3">

            <div class="pl-3 row">
                <div class="row">
                    <div>
                        <input class="grayButton btn btn-primary" id="btnSubmit" name="submitButton" style="width:80px;" type="submit" value="Submit" />
                    </div>

                    <div class="pl-4">

                        <a href="/Administration/Apcon "class="btn btn-danger" id="btnCancel" name="submitButton" style="width: 80px;color:white">Cancel</a>
                    </div>

                </div>

            </div>

            <div>
                You must enter all information above correctly to enable submission.
            </div>

        </div>

    }
</div>



@section JavaScriptsExecution
{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnCancel').click(function () {
               
                window.location.href = 'Administration/Apcon';
               

            });

            $("#BrandingMaterialId").change(function () {
                $("#Amount").trigger('propertychange');

            });



            $("#Comment").change(function () {

                $("#Amount").trigger('propertychange');
            });


            $("#EffectiveDate").change(function () {

                $("#Amount").trigger('propertychange');
            });


            $('#Amount').bind('input propertychange',
                function () {

                    $('#btnSubmit').prop("class", "grayButton");
                    //   $('#btnSubmit').prop("disabled", true);


                    var effectiveDate = $("#EffectiveDate").val().length > 0;
                    var dateInActive = $("#DateInactive").val().length > 0;
                    var comment = $("#Comment").val().length > 0;
                    var amount = $("#Amount").val().length > 0 && $("#Amount").val() > 0;
                    var branding = ($("#BrandingMaterialId").val() != -1);

                    if ((comment && amount && branding && effectiveDate
                    ) /*&& (comment )&& (amount)*/ /*&&(comment) && (amount)*/
                    ) {
                        $('#btnSubmit').prop("class", "enabledButton btn btn-primary");
                        $('#btnSubmit').prop("disabled", false);
                    }
                });

        });
    </script>

}


@section Stylesheets{
    <link href="/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
}




