
@model ADit.Interfaces.IDurationTypeView




<div class="jumbotron container">
    <div class="columns" style="font-size: 12px; margin-left: 15px; margin-top: 15px; width: 100%;">
        <div class="validation-summary-errors">
            @Html.ValidationSummary()
            @Model.ProcessingMessage
        </div>
    </div>
    @using (Html.BeginForm("EditDurationType", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="DurationTypeCode" name="DurationTypeCode" value="@Model.DurationTypeCode" />
        <div class="form-group">
            <div class="label column">
                <span style="color:red;">*</span>DurationTypeCode:
            </div>
            <div class="data column" style="overflow: hidden;">
                <input id="DurationTypeCode" class="form-control" name="DurationTypeCode" style="width: 250px;" type="text" maxlength="50" value="@Model.DurationTypeCode" />
            </div>
        </div>

        <div class="form-group">
            <div class="label column">
                <span style="color:red;">*</span>Description:
            </div>
            <div class="data column" style="overflow: hidden;">
                <input id="Description" class="form-control" name="Description" style="width: 250px;" type="text" maxlength="50" value="@Model.Description" />
            </div>
        </div>


        <div class="row">
            <div class="form-group ml-3">
                <input class="btn btn-primary" id="btnSubmit" name="submitButton" disabled type="submit" value="Submit" />
            </div>
            <div class="form-group ml-3">
                <input id="btnCancel" class="btn btn-light enabledButton" name="submitButton" style="width: 80px;"
                       type="submit" value="Cancel" />
            </div>
            <div class="column" style="font-size: 9px; font-weight: bold; font-style: italic; padding-left: 5px; padding-top: 2px;">
                You must enter all information above correctly to enable submission.
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    $(document).ready(function () {

            $("#btnCancel").click(function () {

                window.location.href = '/Administration/DurationType';
                return false;
            })


            @*$('#btnCancel').click(function() {
                window.location.href = '/Administration/GradeList?companyId=' + @Model.CompanyId;
                return false;
            });*@


            $('#Description').bind('input propertychange',
                function () {

                    $('#btnSubmit').prop("class", "grayButton");
                    $('#btnSubmit').prop("disabled", true);

                    var description = $('#Description').val().length > 0;


                    if ((description)
                    ) {
                        $('#btnSubmit').prop("class", "btn btn-primary");
                        $('#btnSubmit').prop("disabled", false);
                    }
                });



        });
    </script>

